body {
  font-family: sans-serif;
  text-align: center;
  background-color: #eee;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.colors {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.red,
.blue,
.yellow,
.white,
.colors > div {
  margin: 10px;
  width: 350px;
  display: flex;
  justify-content: space-between;
}

.colors span {
  padding: 20px;
  display: inline-block;
  transition: 0.2s;
  font-family: sans-serif;
  font-weight: bold;
  user-select: none;
}

.colors span:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.result {
  height: 200px;
}

.resultsScreenshot {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 20px;
}

.resultsScreenshot > * {
  height: 150px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
}

.resultsScreenshot > div {
  height: 250px;
  width: 250px;
}
